<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>¡Ganaste!</title>
  <style>
    body {
      background-color: #fffae6;
      font-family: 'Arial', sans-serif;
      text-align: center;
      padding-top: 100px;
      color: #2c3e50;
    }
    h1 {
      font-size: 4em;
      color: #27ae60;
    }
    h3 {
      font-size: 2em;
      margin-top: -20px;
    }
    a {
      display: inline-block;
      margin: 20px;
      padding: 15px 30px;
      text-decoration: none;
      background-color: #2980b9;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    a:hover {
      background-color: #1abc9c;
    }
    img {
      display: block;
      margin: 40px auto 0;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <h1>¡GANASTE!</h1>
  <h3>Has encontrado a el Abuelo</h3>
  <h3>La palabra es <strong>hizo</strong></h3>

  <a href="/Home/Menu">Volver a la sala</a>
  <a href="/Home/Krusty">Volver a jugar</a>

  <img src="/img/Abuelo.png">
</body>
</html>

